# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/models_remote/
/Image-Processor/development/
/Benchmarks/instances/
/Benchmarks/models/
/Benchmarks/results/
/Benchmarks/data/
/Benchmarks/visualize_benchmark_sidd.ipynb
/Benchmarks/frame_analysis.ipynb
/DHDN-Sensitivity-Analysis/models/
/DHDN-Sensitivity-Analysis/results/
/Benchmarks/visualize_validation_sidd.ipynb
/Benchmarks/state_dict_modifier.ipynb
/Benchmarks/test_dhdn_visual.ipynb
/Benchmarks/test_validation_local.py
/Benchmarks/visualize_crops.ipynb
/CycleGan-Benchmarks/Generator_Exploration.ipynb
/Benchmarks/visualize_training_sidd.ipynb
/Benchmarks/implementation/
/Benchmarks/dhdn_color_pretrained.ipynb
/Benchmarks/_M_block.patch
/DHDN-Sensitivity-Analysis/Sensitivity_Analysis.ipynb
/Benchmarks/network_weights.ipynb
/CycleGan-Benchmarks/data/
/DHDN-Sensitivity-Analysis/SIDD/Old/DHDN_Compare_Channel_Number/
/DHDN-Sensitivity-Analysis/SIDD/Old/DHDN_Compare_Down/
/DHDN-Sensitivity-Analysis/SIDD/Old/DHDN_Compare_Kernels/
/DHDN-Sensitivity-Analysis/SIDD/Old/DHDN_Compare_Size/
/DHDN-Sensitivity-Analysis/SIDD/Old/DHDN_Compare_Up/
/utilities/test_lpips.py
/Benchmarks/dhdn_training_size_analysis.ipynb
/CycleGan-Benchmarks/GAN_analysis.ipynb
/CycleGan-Benchmarks/CycleGAN_analysis.ipynb
/DHDN-Sensitivity-Analysis/SIDD/
/CycleGan-Benchmarks/models/
/Benchmarks/sample_images/
/Benchmarks/image_processing.ipynb
/Benchmarks/qualitative_crop_analysis.ipynb
/DHDN-ENAS-Network-Search/instances/
/Benchmarks/denoising_methods.ipynb
/Comparison/models/
/Comparison/sample_images/
/Comparison/data/
/Comparison/instances/
/Benchmarks/median_filters.ipynb
/Benchmarks/loss_comparison_generation.ipynb
/Benchmarks/ieee_image_generation.ipynb
/Benchmarks/gaussian_filters.ipynb
/Benchmarks/reward_validation_sidd.ipynb
/utilities/tests/
/Benchmarks/sidd_statistics.ipynb
/Benchmarks/SIDD_Sampling_Statistics.ipynb
/Benchmarks/visualize_testing.ipynb
/Benchmarks/visualize_validation.ipynb
/DNAS-DHDN/Weight_Update_Example.ipynb
/Benchmarks/csv_out/
